h1{
    margin-left: 10px;
}
.div-user{
    border: 1px solid;
    margin: 10px;
    padding: 10px;
}

.info{
    border: 1px dashed;
    margin: 5px;
    padding: 5px;
}
.info div{
    margin-left: 20px;
}
